*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: white;
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
}

.container {
    min-width: 350px;
    margin: 0 auto;
    width: 100%;
}

.section-1 {
/*    border: 1px solid red;*/
}

.logo {
    margin: 50px auto;
    padding-bottom: 60px;
    align-content: center;
    align-items: center;
    display: block;
}

h1, p {
    text-align: center;
}

.section-1 h1 {
    padding: 0 60px;
    line-height: 30px;
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(210, 10%, 33%);
}

.section-1 p {
   padding: 10px 22px;
    line-height: 24px;
     font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(201, 11%, 66%);
}



.button {
    padding: 25px 60px;
    display: flex;
    flex-direction: column;

}
 .btn {
    margin: 10px;
     padding: 14px 40px;
     text-align: center;
     display: inline-block;
     text-decoration: none;
     color: white;
     cursor: pointer;
     border-radius: 20px;
     box-shadow: 20px;
     border: none;
}

.btn:hover {
    color: black;
    background-color: hsl(201, 11%, 66%);
    box-shadow: 2px 5px hsla(201, 11%, 66%);
}

.first {
    background-color:hsl(171, 66%, 44%);
    box-shadow: 2px 5px hsla(171, 66%, 44%, .25);
}

.second {
    background-color:  hsl(233, 100%, 69%);
    box-shadow: 2px 5px hsla(233, 100%, 69%, .4);
}

.section-2  h2 {
    margin-top: 90px;
    text-align: center;
    padding: 0 40px;
    padding-bottom: 25px;
     font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(210, 10%, 33%);
}

.section-2 p {
    line-height: 22px;
    padding: 0 28px;
    text-align: center;
      font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(201, 11%, 66%);
}

.section-2 h3 {
     font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(210, 10%, 33%);
}

.computer {
    width: 70%;
    align-content: center;
    margin: 0 auto;
    padding-top: 50px;
    display: block;
}

.computer-text {
    text-align: center;
}

.computer-text h3 {
    padding: 20px 0;
}

.section-3 h2 {
    margin-top: 90px;
    padding: 0 50px;
    padding-bottom: 25px;
    text-align: center;
       font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(210, 10%, 33%);
}

.section-3 p {
    line-height: 25px;
    padding: 0 20px;
    text-align: center;
    padding-bottom: 70px;
      font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(201, 11%, 66%);
}
.devices {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.section-4 {
    text-align: center;
}

.section-4 h2 {
    margin-top: 90px;
    padding: 0 50px;
    padding-bottom: 20px;
     font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(210, 10%, 33%);
}

.section-4 p {
    padding: 0 50px;
    padding-bottom: 40px;
    line-height: 24px;
     font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(201, 11%, 66%);
}

.section-4 h3 {
     font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(210, 10%, 33%);
}

.log {
    padding: 28px;
}

.section-4 h3 {
    padding: 12px;
}

.image-logo {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin: 0 auto;
    display: block;
}

.logo-m {
    padding: 20px;
    width: 120px;
}

.section-5 {
    margin-top: 100px;
    text-align: center;
}

.section-5 h2 {
    padding: 20px 40px ;
     font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(210, 10%, 33%);
}

.section-5 p {
    padding: 0 22px;
    line-height: 22px;
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(201, 11%, 66%);
}


.section-6 {
    align-content: center;
    align-items: center;
    margin: 0 120px;
    line-height: 32px;
    text-align: center;
     margin: 0 auto;
    margin-top: 90px;
    height: 350px;
    background-color:  hsla(201, 11%, 66%, .2);
    width: 100%;

}

.lig {
    width: 50px;
    padding-bottom: 20px;
    padding-top: 25px;
}

h5 {
     font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(201, 11%, 66%);
}

.icons {
    padding-top: 20px;
}

.icon {
    padding: 0 12px;
}

@media (min-width: 900px) {
    body {
        background-image: url(images/bg-header-desktop.png);
    }

    .section-1 h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .section-1 p {
        font-size: 20px;
        padding: 10px 70px;
    }

    .button {
        flex-direction: row;
        justify-content: center;
    }

    .section-2 h2 {
        font-size: 25px;
    }

    #para {
/*        font-size: 15px;*/
        line-height: 30px;
        padding: 0 140px;
    }

    .row {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    .computer {
        width: 500px;
        height: 400px;
        margin-left: -62px;
    }


    .computer-text {
        padding-top: 50px;
        padding-left: 80px;
        padding-right: 40px;
        text-align: left;
        line-height: 10px
    }

    .computer-text p {
        padding: 0;
        text-align: left
    }

    .section-3 p {
        padding: 0 155px;
        padding-bottom: 50px;
    }

    .section-5 p {
        padding: 0 150px;
    }

    .road {
        display: flex;
/*
        padding;
        justify-content: space-around;
*/
    }

    .road img {
        width: 100px;
        height: 100px;
    }

    .image-logo {
        flex-direction: row;
        display: flex;
        padding: 0 auto;
        justify-content: center;
    }

    .logo-m {
       margin: 0 10px
    }

    .section-6 {
         width: 100%;
        display: flex;
         justify-content: space-around;
        height: 100px;
/*        margin: 0 auto;*/
    }

    .footer {
        display: flex;
        justify-content: space-around;
        padding:
    }

    .crop {
        margin: 0 30px;
        padding-top: 20px;
    }

}


@media (min-width: 1300px) {

    .section-1 h1 {
        font-size: 50px;
        padding-bottom: 40px;
    }

    .section-1 p {
        font-size: 25px;
        line-height: 35px;
        padding: 0 190px
    }

    .section-2 h2 {
        font-size: 35px;
    }

    .section-2 p {
        font-size: 20px;
    }

    #para {
        padding: 0 250px
    }

    .computer {
        width: 600px;
        height: 500px
    }

    .computer-text {
        padding-top: 70px;
        padding-left: 100px;
        padding-right: 230px;
        text-align: left;
        line-height: 10px
    }

    .comp-text {
        padding: 10px;
    }

    .section-3 h2 {
        font-size: 35px;
    }

    .section-3 p {
        font-size: 25px;
        line-height: 35px
    }

    .section-4 h2 {
        font-size: 35px
    }

    .section-4 p {
        font-size: 18px;
        line-height: 30px;
    }

    .image-logo {

    width: 90%;
    align-items: center;
    margin: 0 auto;
    display: block;
}

.logo-m {
    padding: 20px;
    width: 160px;
    margin: 30px;
}

    .section-5 h2 {
        font-size: 35px;
    }

    .section-5 p {
        font-size: 20px;
        line-height: 30px;
        padding: 0 250px;
    }

}

@media (min-width: 1400px) {


    .section-1 p {
        font-size: 25px;
        line-height: 35px;
        padding: 0 250px
    }

    .section-2 h2 {
        font-size: 40px;
    }

    .section-2 p {
        font-size: 21px;
    }

    #para {
        padding: 0 280px
    }

    .computer {
        width: 800px;
        height: 600px
    }

    .computer-text {
        padding-top: 90px;
        padding-left: 120px;
        padding-right: 90px;
        text-align: left;
        line-height: 10px
    }

    .comp-text {
        padding: 20px;
    }

    .section-3 p {
        font-size: 25px;
        line-height: 35px;
        padding: 10px 190px;
        padding-bottom: 100px;
    }

    .section-5 P {
        padding: 10px 300px;
    }

    .lig {
        margin-left: -70px;
        margin-right: 120px
    }


}



























































